
.dark body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #e8eaed;
    background-color: #202124;
    line-height: 30px;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #ffffff;
    line-height: 30px;
}

header{
    background-color:lightcoral;
    text-align: left;
    font-size:x-large;
    padding: 10px;
    padding-left: 30px;
    
}

header h1{
    color:#ffffff;
}

.dark header h1{
    color:#202124;
}

main{
    padding-left: 50px; 
    font-size: medium;
    margin: 0 auto;
}

.dark footer{
    color:#202124;
    background-color:lightcoral;
    font-size:10px;
    padding-left: 30px;
    margin: 0;
}
footer{
    color:#ffffff;
    background-color:lightcoral;
    font-size:10px;
    padding-left: 30px;
    margin: 0;
}

.img{
    padding-top: 30px;
    text-align:center;
}



a{
    color:lightcoral;
}

a:hover{
    color:#202124   ;
    background-color: lightcoral;
}

a.dark:hover{
    color:#ffffff;
    background-color:lightcoral;
}

div{
    float:right;
    margin: 60px 30px;
    padding:2px;
    outline: #ffffff 3px solid;
    color:#ffffff;
    background:lightcoral;
}

div:hover{
    float:right;
    margin: 60px 30px;
    padding: 2px;
    outline: lightcoral 3px solid;
    color:lightcoral;
    background:#ffffff;
}


div.dark{
    float:right;
    margin: 60px 30px;
    padding:2px;
    outline: #202124 3px solid;
    color:#202124;
    background:lightcoral;
}


div.dark:hover{
    float:right;
    margin: 60px 30px;
    padding: 2px;
    outline: lightcoral 3px solid;
    color:lightcoral;
    background:#202124;
}
